@using System.Web.UI.WebControls
@model Gurukul.Web.ViewModels.CustomerList
@{
    ViewBag.Title = "Customer";
}

<h2>Customer</h2>

@using (Html.BeginForm())
{
    @Html.DisplayFor(x=>x.ListName)
    @Html.EditorFor(x=>x.ListName)
    
    Html.RenderPartial("_customerList", Model.Customers);
    <button type="submit">Save</button>
}

