@model Gurukul.Web.ViewModels.Student.StudentViewModel

<div class="col-sm-12">
    <div class="box box-solid box-info">
        <div class="box-header">
            <h3 class="box-title">@Model.FullName</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            @if (Model.Enrollments == null || Model.Enrollments.Count() == 0)
            {
                <p class="lead text text-bold text-danger">There are no current enrollments</p>
            }
            else
            {
                <table class="table table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="col-sm-6">Course</th>
                            <th class="col-sm-6">Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var enrollment in Model.Enrollments)
                        {
                            <tr>
                                <td>@Html.DisplayFor(x=>enrollment.CourseTitle)</td>
                                <td>@Html.DisplayFor(x=>enrollment.Grade)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div><!-- /.box-body -->
        <div class="box-footer">
            <div class="pull-right">
                <a href="@Url.Action("Index", "Students")" class="btn btn-warning">
                    <i class="fa fa-arrow-left"></i>
                    &nbsp;Back
                </a>
            </div>
        </div>
    </div>
</div>
